@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form action="submit.php" method="post">
        <label for="weight">Weight (kg):</label>
        <input type="number" id="weight" name="weight" step="0.1" required>
        <br><br>

        <label for="height">Height (cm):</label>
        <input type="number" id="height" name="height" step="0.1" required>
        <br><br>

        <label for="age">Age (years):</label>
        <input type="number" id="age" name="age" min="0" required>
        <br><br>

        <label for="gender">Пол:</label>
        <select id="gender" name="gender" required>
            <option value="">Изберете...</option>
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

</div>
